.home-main{
    background-image: url(https://static.vecteezy.com/system/resources/previews/004/312/401/original/coffee-bean-pattern-free-vector.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}